html, body {
    width: 300px;
    padding: 0;
    margin: 0;
}

div.container {
    width: 100%;
    font-size: 1.25em;
    user-select: none;
}

div.content {
    padding: 4px 4px 4px 1em;
}

div.button {
    padding: 4px 4px 4px 1em;
    cursor: pointer;
}

div.button:hover {
    background-color: pink;
}

div#successPage {
    display: none;
}
