* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif
}

*,*:focus,*:hover{
    outline:none;
}

#controls {
    width: 160px;
    height: 190px;
}

#error {
    width: 300px;
    font-size: 1.25rem;
    z-index: 200;
    padding: 1em;
}

.popup {
    position: absolute;
    margin: 4px;
}

.popup#controls {
    top: 0;
    right: 0;
    z-index: 100;
}

.popup#error {
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    top: 24px;
    left: 24px;
    background-color: #fff;
    z-index: 200;
}

#sandbox {
    display: none;
    width: 480px;
    height: 480px;
}

#sandboxHelpButton {
    display: none;
    width: 160px;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
    background-color: #00a;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.no-select {
    user-select: none;
}

div.content h2 {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1rem;
}

div.content p {
    font-size: 1rem;
    padding: 1rem;
}


button {
    padding: 16px;
    cursor: pointer;
    border: 0;
    background: #fff;
    line-height: 0;
    font-size: 0;
}

button img {
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

button:hover {
    background: pink;
}

input {
    width: 128px;
    margin: auto;
    display: block;
}

div#successPage {
    display: none;
}
