* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif
}

*,*:focus,*:hover{
    outline:none;
}

div.container#successPage {
    width: 160px;
}

div.container#errorPage {
    width: 300px;
    font-size: 1.25rem;
    user-select: none;
}

div.container#errorPage {
    width: 300px;
    font-size: 1.25rem;
    user-select: none;
}

div.container div.content#errorPage {
    padding: 4px 4px 4px 1em;
}

div.content h2 {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1rem;
}

div.content p {
    font-size: 1rem;
    padding: 1rem;
}


button {
    padding: 16px;
    cursor: pointer;
    border: 0;
    background: #fff;
    line-height: 0;
    font-size: 0;
}

button img {
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

button:hover {
    background: pink;
}

div#successPage {
    display: none;
}
